.SelfButton
{
  background-color: #FFB988;
  border-radius: 30px;
  height: 50px;
  outline: none;
  border: none;
  font-family: 'Golos', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #362A15;
}

.SelfButton-nonactive {
  background-color: white;
  border-radius: 30px;
  height: 50px;
  outline: none;
  border: 2px solid #FFB988;
  font-family: 'Golos', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #362A15;
}