@font-face {
  font-family: "GOLOS";
  src: url("./GOLOS-TEXT_BOLD.TTF");
  font-weight: bold;
}

@font-face {
  font-family: "GOLOS";
  src: url("./GOLOS-TEXT_MEDIUM.TTF");
  font-weight: medium;
}

@font-face {
  font-family: "GOLOS";
  src: url("./GOLOS-TEXT_REGULAR.TTF");
  font-weight: regular;
}
